# Allure reports
allure-results/
allure-report/

# Playwright reports
playwright-report/
test-results/

# Logs
logs/

# Screenshots & media
*.png
*.webm

# Node modules
node_modules/

# Environment files
.env